
<!-- footer -->
<div id="footer">
    <div class="w-100 h-2 bg-light-gray divider divider_QLs"></div>
    <div class="h-100 bg-dark-gray footer--inner">
        <div class="py-20"></div>
        <div class="container">
            <div class="row">
                <!-- footerLists -->
                <div class="col">
                    <div>
                        <div class="chable-d-none">
                            <ul class="d-flex flex-wrap h-100 m-0 p-0 Rm--lst-pd ">
                                <li class="pr-30">
                                    <a href="#"
                                        class="font-r-4 font-14 underline-none h-100 text-red-hover text-white">KARTLAR</a>
                                </li>
                                <li class="pr-30">
                                    <a href="#"
                                        class="font-s font-14 underline-none h-100 text-red-hover text-white">KREDİTLƏR</a>
                                </li>
                                <li class="pr-30">
                                    <a href="#"
                                        class="font-s font-14 underline-none h-100 text-red-hover text-white">DEPOZİTLƏR</a>
                                </li>
                                <li class="pr-30">
                                    <a href="#"
                                        class="font-s font-14 underline-none h-100 text-red-hover text-white">PUL
                                        KÖÇÜRMƏLƏRİ</a>
                                </li>
                                <li class="pr-30">
                                    <a href="#"
                                        class="font-s font-14 underline-none h-100 text-red-hover text-white">FƏRDİ
                                        BANKÇILIQ</a>
                                </li>
                                <li class="pr-30">
                                    <a href="#"
                                        class="font-s font-14 underline-none h-100 text-red-hover text-white">ONLAYN
                                        XİDMƏTLƏR</a>
                                </li>
                                <li class="pr-30">
                                    <a href="#"
                                        class="font-s font-14 underline-none h-100 text-red-hover text-white">ONLAYN
                                        NÖVBƏ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="py-20 "></div>

                        <div>
                            <ul class="d-flex flex-wrap h-100 m-0 p-0 Rm--lst-pd">
                                <li class="pr-30 list">
                                    <a class=" font-r-4 font-14 underline-none h-100 text-red-hover text-white"
                                        href="">Bank haqqında</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class=" font-r-4 font-14 underline-none h-100 text-red-hover text-white"
                                        href="">İnsan resursları</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class=" font-r-4 font-14 underline-none h-100 text-red-hover text-white"
                                        href="">Filial və bankomatlar</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class=" font-r-4 font-14 underline-none h-100 text-red-hover text-white"
                                        href="">BirBank</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class=" font-r-4 font-14 underline-none h-100 text-red-hover text-white"
                                        href="">Xəbərlər</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class=" font-r-4 font-14 underline-none h-100 text-red-hover text-white"
                                        href="">Təklif və şikayətlər</a>
                                </li>
                            </ul>
                        </div>

                        <div class="py-20 chable-d-none"></div>
                        <div class="chable-d-none">
                            <ul class="list-s-none d-flex flex-wrap h-100 m-0 p-0 Rm--lst-pd">
                                <li class="pr-30 list">
                                    <a class="font-s font-14 underline-none h-100 text-red-hover text-white"
                                        href="#">Kart sifarişi</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class="font-s font-14 underline-none h-100 text-red-hover text-white"
                                        href="#">Kredit sifarişi</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class="font-s font-14 underline-none h-100 text-red-hover text-white"
                                        href="#">Kredit ödənişi</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class="font-s font-14 underline-none h-100 text-red-hover text-white"
                                        href="#">Onlayn ödənişlər</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class="font-s font-14 underline-none h-100 text-red-hover text-white"
                                        href="#">FAQ</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class="font-s font-14 underline-none h-100 text-red-hover text-white"
                                        href="#">Tariflər</a>
                                </li>
                                <li class="pr-30 list">
                                    <a class="font-s font-14 underline-none h-100 text-red-hover text-white"
                                        href="#">ATM xidmətləri</a>
                                </li>
                            </ul>
                        </div>
                        <div class="py-20"></div>
                        <div class="Block d-flex pb-20 justify-content-start--min-780 justify-content-center">
                            <ul class="d-flex flex-wrap h-100 m-0 p-0 Rm--lst--pd">
                                <li class="pr-30 list">
                                    <a href="#"
                                        class="underline-none d-flex align-items-center justify-content-center py-5 px-10 border-1 border-color-light-red text-red border-radius-8">
                                        <i class="fa fa-phone text-red"></i>
                                        <div class="pl-5"></div>
                                        <span class="font-14 font-w-6 text-white chable">196</span>
                                    </a>
                                </li>
                                <li class="pr-30 list">
                                    <a href="https://www.facebook.com/"
                                        class="font-s-w-2 font-18 underline-none h-100 text-cardinal-hover text-white">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="pr-30 list">
                                    <a href="https://www.linkedin.com/"
                                        class="font-s-w-2 font-18 underline-none h-100 text-cardinal-hover text-white">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="pr-30 list">
                                    <a href="https://www.twitter.com/"
                                        class="font-s-w-2 font-18 underline-none h-100 text-cardinal-hover text-white">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="pr-30 list">
                                    <a href="https://www.instagram.com/"
                                        class="font-s-w-2 font-18 underline-none h-100 text-cardinal-hover text-white">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="pr-30 list">
                                    <a href="https://www.youtube.com/"
                                        class="font-s-w-2 font-18 underline-none h-100 text-cardinal-hover text-white">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /footerLists -->
                <!-- playMarkets -->
                <div class="col-md-3 Breakpoint-QpSz">
                    <div class="d-flex justify-content-end--min-780 justify-content-center">
                        <div class="Block">
                            <a href=""
                                class="underline-none d-flex align-items-center bg-light-red hover-red-bg px-15 text-white AppButton">
                                <i class="font-24 fab fa-apple"></i>
                                <span class="pl-15"></span>
                                <div>
                                    <p class="font-s font-14 mb--10 text-dark-gray">Mobil tətbiqi yüklə</p>
                                    <p class="font-s font-24 mb--5">App Store</p>
                                </div>
                            </a>
                            <div class="pt-20 gap gap_mY"></div>
                            <a href=""
                                class="underline-none d-flex align-items-center bg-light-red hover-red-bg px-15 text-white AppButton">
                                <i class="font-24 fab fa-android"></i>
                                <span class="pl-15"></span>
                                <div>
                                    <p class="font-s font-14 mb--10 text-dark-gray">Mobil tətbiqi yüklə</p>
                                    <p class="font-s font-24 mb--5">Google Play</p>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="py-20 d-md-block d-none"></div>
                </div>
                <!-- /playMarkets -->
            </div>
            <!-- whiteLine -->
            <div class="row">
                <div class="col-12">
                    <div class="py-10"></div>
                    <div class="w-100 h-2 bg-light-gray divider divider_QLm"></div>
                    <div class="py-10"></div>
                    <div class="py-10 d-md-block d-none"></div>
                </div>
            </div>
            <!-- /whiteLine -->
            <div class="row">
                <div
                    class="col-md-6 col-12 d-flex align-items-center justify-content-center justify-content-start--min-780 order-1--max-780">
                    <p class="copyright font-s font-14 text-white m-0 text-center">© 2020 «Kapital Bank» ASC. Bütün
                        hüquqlar qorunur.</p>
                </div>
                <div class="col-md-6 col-12">
                    <div class="d-flex flex-wrap justify-content-end--min-780 justify-content-center">
                        <div class="pl-30">
                            <a class="d-flex align-items-center underline-none h-100" target="_blank"
                                href="https://www.e-gov.az/">
                                <img src="../static/images/egov.png" alt="e-gov.az">
                            </a>
                        </div>
                        <div class="pl-30">
                            <a href="https://adif.az/" target="_blank" aria-label="adif.az"
                                class="d-flex align-items-center underline-none h-100">
                                <img src="../static/images/adif_link.png" alt="adif.az"> </a>
                        </div>
                        <div class="pl-30">
                            <a href="http://infobank.az/" target="_blank" aria-label="infobank.az"
                                class="d-flex align-items-center underline-none h-100">
                                <img src="../static/images/info_bank_link.png" alt="infobank.az">
                            </a>
                        </div>
                        <div class="pl-30">
                            <a href="https://bizimpullar.az/" target="_blank" aria-label="bizimpullar.az"
                                class="d-flex align-items-center underline-none h-100">
                                <img src="../static/images/bizim_pullar_link.png" alt="bizimpullar.az">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-10 d-md-none d-block"></div>

            </div>
            <div class="py-10"></div>
            <div class="py-10 d-md-block d-none"></div>
        </div>
    </div>
</div>
<!-- /footer -->