<!-- Header -->
<header class="header header-none py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="brand">
                <a href="{{ url_for('home_page') }}">
                    
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="" />
                </a>
            </div>
            <ul class="d-none d-lg-flex align-items-center">
                <li class="ml-3 font-weight-bolder font-sourcesans text-size-medium">
                    <a class="underline-none" href="#">Fiziki şəxslər üçün</a>
                </li>
                <li class="ml-3 font-sourcesans font-weight-light text-size-medium">
                    <a class="underline-none" href="#">Biznes üçün</a>
                </li>
                <li class="ml-3 font-sourcesans font-weight-light text-size-medium">
                    <a class="underline-none" href="#"><i class="fas fa-map-marker-alt text-primary mr-1"></i>
                        Filial
                        və bankomatlar</a>
                </li>
                <li class="ml-3 font-sourcesans font-weight-light text-size-medium">
                    <a class="underline-none" href="#">EN</a>
                </li>
                <li class="ml-3 font-sourcesans font-weight-light text-size-medium">
                    <a class="underline-none" href="#">RU</a>
                </li>
            </ul>
            <ul class="d-md-flex d-lg-none">
                <li>
                    <button class="btn btn-custom-primary btn-sm btn-rounded mr-2 shadow-none">
                        <img src="{{ url_for('static', filename='images/birbank.svg') }}" alt="BirBank.svg" />
                        
                    </button>
                    <button class="btn btn-custom-primary btn-sm btn-rounded shadow-none btn-burger">
                        <i class="fa fa-bars outline-none"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>