<!-- Navbar -->
<nav class="navigation d-none d-lg-block position-relative">
    <div class="w-100 h-2 bg-light-gray"></div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <ul class="navigation-nav">
                <li class="dropdown-nav pr-30">
                    <a class="font-s-w-4 text-decoration-none hover-text-dec-none py-20" href="#">Kartlar</a>
                    <!-- dropdown -->
                    <div class="dropdown-content-nav pb-40 pt-40">
                        <div class="container">
                            <div class="d-flex justify-content-between">
                                <div class="Block">
                                    <ul class="list-unstyled p-0">
                                        <li class="list pb-15">
                                            <a href="#" title="Sadə kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Sadə
                                                kartlar</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Premium kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Premium
                                                kartlar</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Taksit kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Taksit
                                                kartlar</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Hədiyyə kartları"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Hədiyyə
                                                kartları</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="Block">
                                    <ul class="list-unstyled p-0">
                                        <li class="list pb-15">
                                            <a href="#" title="Sadə kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Digital
                                                Card</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Premium kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Kartın
                                                müddətinin
                                                uzadılması</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Taksit kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Kartlar
                                                üzrə
                                                xidmətlər</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Hədiyyə kartları"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Təhlükəsizlik
                                                qaydaları</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="Block">
                                    <ul class="list-unstyled p-0">
                                        <li class="list pb-15">
                                            <a href="#" title="Sadə kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">3D
                                                secure</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Premium kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Kart
                                                sifarişi</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-banner" style="max-width: 490px;">
                                    <div class="block-banner-content w-100">
                                        <div class="d-flex">
                                            <div class="Block">
                                                <h2 class="fo font-24 text-dark-gray mb-0">BirKart</h2>
                                                <p class="font-14 font-s-w-2 mb-0 pr-30"> Partnyor mağazalarda 18
                                                    ayadək faizsiz taksit
                                                    imkanı! </p>
                                                <div class="pt-35"></div>
                                                <!-- LinkWithArrow -->
                                                <a href="#" title="Daha ətraflı"
                                                    class="LinkWithArrow  font-14 font-s-w-2 text-decortaion-none  text-light-red text-red-hover ">
                                                    <span>Daha ətraflı</span>
                                                    <span class="pl-1"></span>
                                                    <i class="fa  fa-arrow-right "></i>
                                                </a>

                                            </div>
                                            <div class="Block d-flex align-items-center">
                                                <div class="h-100"
                                                    style="width: 285px; max-height: 100px; border-radius: 5px;">
                                                    <img src="{{ url_for('static', filename='images/nav-dropdow-img.webp') }}"
                                                        alt="BirKart">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="pr-30 dropdown-nav">
                    <a class="py-20 font-s-w-4 text-decoration-none hover-text-dec-none" href="#">Kreditlər</a>
                    <!-- dropdown -->
                    <div class="dropdown-content-nav pb-40 pt-40">
                        <div class="container">
                            <div class="d-flex justify-content-between">
                                <div class="Block">
                                    <ul class="list-unstyled p-0">
                                        <li class="list pb-15">
                                            <a href="#" title="Sadə kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Gündəlik
                                                tələbat
                                                krediti</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Premium kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Təminatlı
                                                manat
                                                krediti</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Taksit kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Əmanət
                                                təminatlı
                                                kredit</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Hədiyyə kartları"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Dövlət
                                                ipotekası</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="Block">
                                    <ul class="list-unstyled p-0">
                                        <li class="list pb-15">
                                            <a href="#" title="Sadə kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">MİDA
                                                - İpoteka
                                                krediti</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Premium kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Regionlarda
                                                sosial ipoteka</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Taksit kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Daxili
                                                ipoteka
                                                krediti</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-banner" style="max-width: 490px;">
                                    <div class="block-banner-content w-100">
                                        <div class="d-flex">
                                            <div class="Block">
                                                <h2 class="fo font-24 text-dark-gray mb-0">BirKart</h2>
                                                <p class="font-14 font-s-w-2 mb-0 pr-30"> Partnyor mağazalarda 18
                                                    ayadək faizsiz taksit
                                                    imkanı! </p>
                                                <div class="pt-35"></div>
                                                <!-- LinkWithArrow -->
                                                <a href="#" title="Daha ətraflı"
                                                    class="LinkWithArrow  font-14 font-s-w-2 text-decortaion-none  text-light-red text-red-hover ">
                                                    <span>Daha ətraflı</span>
                                                    <span class="pl-1"></span>
                                                    <i class="fa  fa-arrow-right "></i>
                                                </a>

                                            </div>
                                            <div class="Block d-flex align-items-center">
                                                <div class="h-100"
                                                    style="width: 285px; max-height: 100px; border-radius: 5px;">
                                                    <img src="{{ url_for('static', filename='images/nav-dropdow-img.webp') }}"
                                                        alt="BirKart">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="pr-30 dropdown-nav">
                    <a class="py-20 font-s-w-4 text-decoration-none hover-text-dec-none" href="#">Depozitlər</a>
                    <!-- dropdown -->
                    <div class="dropdown-content-nav pb-40 pt-40">
                        <div class="container">
                            <div class="d-flex justify-content-between">
                                <div class="Block">
                                    <ul class="list-unstyled p-0">
                                        <li class="list pb-15">
                                            <a href="#" title="Sadə kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Kapital
                                                depoziti</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Premium kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Müddətsiz
                                                depozit</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Taksit kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Depozit
                                                seyfləri</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-banner" style="max-width: 490px;">
                                    <div class="block-banner-content w-100">
                                        <div class="d-flex">
                                            <div class="Block">
                                                <h2 class="fo font-24 text-dark-gray mb-0">BirKart</h2>
                                                <p class="font-14 font-s-w-2 mb-0 pr-30"> Partnyor mağazalarda 18
                                                    ayadək faizsiz taksit
                                                    imkanı! </p>
                                                <div class="pt-35"></div>
                                                <!-- LinkWithArrow -->
                                                <a href="#" title="Daha ətraflı"
                                                    class="LinkWithArrow  font-14 font-s-w-2 text-decortaion-none  text-light-red text-red-hover ">
                                                    <span>Daha ətraflı</span>
                                                    <span class="pl-1"></span>
                                                    <i class="fa  fa-arrow-right "></i>
                                                </a>

                                            </div>
                                            <div class="Block d-flex align-items-center">
                                                <div class="h-100"
                                                    style="width: 285px; max-height: 100px; border-radius: 5px;">
                                                    <img src="{{ url_for('static', filename='images/nav-dropdow-img.webp') }}"
                                                        alt="BirKart">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="pr-30 dropdown-nav">
                    <a class="py-20 font-s-w-4 text-decoration-none hover-text-dec-none" href="#">Pul
                        Köçürmələri</a>
                    <!-- dropdown -->
                    <div class="dropdown-content-nav pb-40 pt-40">
                        <div class="container">
                            <div class="d-flex justify-content-between">
                                <div class="Block">
                                    <ul class="list-unstyled p-0">
                                        <li class="list pb-15">
                                            <a href="#" title="Sadə kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Xəzri</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Premium kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Zolotaya
                                                Korona</a>
                                        </li>
                                        <li class="list pb-15">
                                            <a href="#" title="Taksit kartlar"
                                                class="text-dark-gray font-s font-14 underline-none d-block text-red-hover ">Western
                                                Union</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="block-banner" style="max-width: 490px;">
                                    <div class="block-banner-content w-100">
                                        <div class="d-flex">
                                            <div class="Block">
                                                <h2 class="fo font-24 text-dark-gray mb-0">BirKart</h2>
                                                <p class="font-14 font-s-w-2 mb-0 pr-30"> Partnyor mağazalarda 18
                                                    ayadək faizsiz taksit
                                                    imkanı! </p>
                                                <div class="pt-35"></div>
                                                <!-- LinkWithArrow -->
                                                <a href="#" title="Daha ətraflı"
                                                    class="LinkWithArrow  font-14 font-s-w-2 text-decortaion-none  text-light-red text-red-hover ">
                                                    <span>Daha ətraflı</span>
                                                    <span class="pl-1"></span>
                                                    <i class="fa  fa-arrow-right "></i>
                                                </a>

                                            </div>
                                            <div class="Block d-flex align-items-center">
                                                <div class="h-100"
                                                    style="width: 285px; max-height: 100px; border-radius: 5px;">
                                                    <img src="{{ url_for('static', filename='images/nav-dropdow-img.webp') }}"
                                                        alt="BirKart">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="pr-30 dropdown-nav"><a class="py-20 font-s-w-4 text-decoration-none hover-text-dec-none"
                        href="#">Fərdi Bankçılıq</a></li>
                <li class="pr-30 dropdown-nav"><a class="py-20 font-s-w-4 text-decoration-none hover-text-dec-none"
                        href="#">Onlayn Xidmətlər</a></li>
                <li class="dropdown-nav"><a class="py-20 font-s-w-4 text-decoration-none hover-text-dec-none"
                        href="#">Onlayn
                        Növbə</a></li>
            </ul>
            <ul class="d-flex align-items-center">
                <li class="search-bar">
                    <button class="btn btn-custom-outline-primary btn-sm btn-rounded shadow-none hover-original-color">
                        <i class="fas fa-search"></i>
                    </button>
                    <input class=" outline-none btn-outline-color-original-rad" id="search-input" type="text" />
                </li>
                <li class="ml-3 py-15">
                    <a href="#" target="_blank"
                        class="hover-red text-decoration-none btn btn-custom-primary btn-sm btn-rounded d-flex shadow-none burger">
                        <img class="mr-1" src="{{ url_for('static', filename='images/birbank.svg') }}"
                            alt="birbank.svg" />BirBank
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-100 h-2 bg-white"></div>
</nav>
<!-- Menu burger -->
<div class="menu pt-25 l-0 t-0 d-lg-none">
    <div class="menu-header text-size-medium position-relative container d-flex  justify-content-between">
        <!-- collapse section -->
        <div class="component w-50">
            <a class="font-s-regular text-decoration-none w-50" data-toggle="collapse" href="#collapseExample"
                role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="font-s-regular text-color-menu">Fiziki şəxslər üçün</span><i
                    class="fa fa-angle-down text-danger ml-3"></i>
            </a>

            <div class="collapse" id="collapseExample">
                <div class="card card-body border-0 pt-0 pl-0 pb-0">
                    <a class="text-decoration-none py-15 text-color-menu" href="#">Biznes üçün</a>
                </div>
            </div>
        </div>

        <!-- close button -->
        <div class="btn-close w-50 text-right">
            <button class="btn-custom-primary btn-sm btn-rounded shadow-none btn-burger menu-close-btn">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="search py-10 w-100">
        <div class="search-icon position-relative text-size-medium">
            <i class="fa fa-search"></i>
            <input class="w-100 p-1 border-0 pl-40 pt-2 pb-2 shadow-none outline-none" type="text" name="" id=""
                placeholder="Axtarış" />
        </div>
    </div>
    <!-- left menu -->
    <div class="position-relative">
        <ul id="menu-list" class="d-flex mt-3 flex-column">

            <li class="menu-dropdown">
                <div class="d-flex justify-content-between align-items-center py-10 px-15">
                    <div class="flex-fill">
                        <a href="#"
                            class="d-block text-decoration-none text-color-menu text-uppercase text-size-medium">Kartlar</a>
                    </div>
                    <div class="menu-dropdown-arrow">
                        <a href="javascript:;"><i class="fa fa-angle-right icon-color-red pl-2"></i></a>
                    </div>
                </div>
                <div class="menu-dropdown-content px-15 py-15">
                    <div class="menu-dropdown-goback d-flex align-items-center font-s font-14 mb-15"">
              <i class=" fa fa-angle-left icon-color-red pl-2"></i>
                        <span
                            class="pl-15 font-s-bold font-w-6 font-18 font-sourcesans line-h-15 text-dark-gray">KARTLAR</span>
                    </div>
                    <!--dropdown list -->
                    <ul class="m-0 p-0 dropdown-list">
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Sadə kartlar</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Premium kartlar</a>
                        </li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Taksit kartları</a>
                        </li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Hədiyyə kartları</a>
                        </li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Digital Card</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Kartın müddətinin
                                uzadılması</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Kartlar üzrə
                                xidmətlər</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Təhlükəsizlik
                                qaydaları</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">3D secure</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Kart sifarişi</a>
                        </li>
                    </ul>
                </div>
                <!--  -->
            </li>
            <li class="menu-dropdown">
                <div class="d-flex justify-content-between align-items-center py-10 px-15">
                    <div class="flex-fill">
                        <a href="#"
                            class="d-block text-decoration-none text-color-menu text-uppercase text-size-medium">Kreditlər</a>
                    </div>
                    <div class="menu-dropdown-arrow">
                        <a href="javascript:;"><i class="fa fa-angle-right icon-color-red pl-2"></i></a>
                    </div>
                </div>
                <div class="menu-dropdown-content px-15 py-15">
                    <div class="menu-dropdown-goback d-flex align-items-center font-s font-14 mb-15"">
              <i class=" fa fa-angle-left icon-color-red pl-2"></i>
                        <span
                            class="pl-15 font-s-bold font-w-6 font-18 font-sourcesans text-uppercase line-h-15 text-dark-gray">Kreditlər</span>
                    </div>
                    <!--dropdown list -->
                    <ul class="m-0 p-0 dropdown-list">
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Gündəlik tələbat
                                krediti</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Təminatlı manat
                                krediti</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Əmanət təminatlı
                                kredit</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Dövlət ipotekası</a>
                        </li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">MİDA - İpoteka
                                krediti</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Regionlarda sosial
                                ipoteka</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Daxili ipoteka
                                krediti</a></li>
                    </ul>
                </div>
                <!--  -->
            </li>
            <li class="menu-dropdown">
                <div class="d-flex justify-content-between align-items-center py-10 px-15">
                    <div class="flex-fill">
                        <a href="#"
                            class="d-block text-decoration-none text-color-menu text-uppercase text-size-medium">Depozitlər</a>
                    </div>
                    <div class="menu-dropdown-arrow">
                        <a href="javascript:;"><i class="fa fa-angle-right icon-color-red pl-2"></i></a>
                    </div>
                </div>
                <div class="menu-dropdown-content px-15 py-15">
                    <div class="menu-dropdown-goback d-flex align-items-center font-s font-14 mb-15"">
              <i class=" fa fa-angle-left icon-color-red pl-2"></i>
                        <span
                            class="pl-15 font-s-bold font-w-6 font-18 font-sourcesans text-uppercase line-h-15 text-dark-gray">Depozitlər</span>
                    </div>
                    <!--dropdown list -->
                    <ul class="m-0 p-0 dropdown-list">
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Kapital depoziti</a>
                        </li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Müddətsiz depozit</a>
                        </li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Depozit seyfləri</a>
                        </li>
                    </ul>
                </div>
                <!--  -->
            </li>
            <li class="menu-dropdown">
                <div class="d-flex justify-content-between align-items-center py-10 px-15">
                    <div class="flex-fill">
                        <a href="#"
                            class="d-block text-decoration-none text-color-menu text-uppercase text-size-medium">Pul
                            Köçürmələri</a>
                    </div>
                    <div class="menu-dropdown-arrow">
                        <a href="javascript:;"><i class="fa fa-angle-right icon-color-red pl-2"></i></a>
                    </div>
                </div>
                <div class="menu-dropdown-content px-15 py-15">
                    <div class="menu-dropdown-goback d-flex align-items-center font-s font-14 mb-15"">
                    <i class=" fa fa-angle-left icon-color-red pl-2"></i>
                        <span class="pl-15 font-s-bold font-w-6 font-18 font-sourcesans line-h-15 text-dark-gray">Pul
                            Köçürmələri</span>
                    </div>
                    <!--dropdown list -->
                    <ul class="m-0 p-0 dropdown-list">
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Xəzri</a></li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Zolotaya Korona</a>
                        </li>
                        <li class="px-15 py-10"><a href="#"
                                class="font-r-4 font-14 underline-none h-100 text-dark-gray w-100">Western Union</a>
                        </li>
                    </ul>
                </div>
                <!--  -->
            </li>
            <li class="py-10 px-15">
                <div class="flex-fill">
                    <a class="d-block text-decoration-none text-color-menu text-uppercase text-size-medium"
                        href="#">Fərdi
                        Bankçılıq</a>
                </div>
            </li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-uppercase text-size-medium" href="#">Onlayn
                    Xidmətlər</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-uppercase text-size-medium" href="#">Onlayn
                    Növbə</a></li>
            <li class="py-20">
                <div class="w-100 bg-light-gray h-1"></div>
            </li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium" href="#">Bank
                    haqqında</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">İnsan
                    resurslari</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">BirBank</a>
            </li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">Xəbərlər</a>
            </li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">Təklif və
                    şikayətlər</a></li>
            <li class="py-20">
                <div class="w-100 bg-light-gray h-1"></div>
            </li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium" href="#">Kart
                    sifarişi</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">Kredit
                    sifarişi</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">Kredit
                    Ödənişi</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">Onlayn
                    ödənişlər</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">Faq</a></li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#">Tariflər</a>
            </li>
            <li class="py-10 px-15"><a
                    class="d-block text-decoration-none text-color-menu text-capitalcase text-size-medium"
                    href="#"><span class="text-uppercase">Atm </span>xidmətləri</a></li>
            <li class="pt-25"></li>
            <li class="py-10">
                <div class="px-15">
                    <ul class="d-flex align-items-center">
                        <li><a class="text-decoration-none text-uppercase text-color-menu text-size-medium font-s-w-2"
                                href="#">En</a></li>
                        <li class=" pl-30"></li>
                        <li><a class="text-decoration-none text-uppercase text-color-menu text-size-medium font-s-w-2"
                                href="#">Ru</a></li>
                    </ul>
                </div>
            </li>
            <li class="py-20"></li>
        </ul>

    </div>
</div>