:root {
  --primary: #f45369;
  --secondary: #e8ecf1;
  --tertiary: #fff;
  --text-secondary: #2e3131;
}
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap");
/* General */
body {
  background-color: var(--tertiary);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
details summary::-webkit-details-marker {
    display:none;
  }
.font-sourcesans {
  font-family: "Source Sans Pro", sans-serif;
}
/* Header */
.header {
  position: relative;
  background-color: var(--tertiary);
}
.header ul > li > a {
  color: var(--text-secondary) !important;
}
/* Navbar */
.navigation {
  background-color: var(--secondary);
}
.navigation-nav {
  display: flex;
}
.navigation-nav {
  margin: 0 -15px;
}
.navigation-nav > li > a {
  display: block;
  color: var(--text-secondary);
  padding: 20px 15px;
  text-transform: uppercase;
  font-size: 14px;
}
/* Menu */
.menu {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary);
  overflow-y: scroll;
}
.menu > * {
    color: var(--text-secondary);
    font-weight: 400px;
}
.menu.active {
    display: block;
}
.menu::-webkit-scrollbar {
  display: none;
}
/* Buttons */
.btn-custom-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-custom-outline-primary {
  color: var(--primary);
  background-color: #fff;
  border-color: var(--primary);
}
.menu-close-btn {
    position: fixed;
    top: 25px;
    right: 1rem;
}
/* Helpers */
.text-size-small {
  font-size: 12px !important;
}
.text-size-medium {
  font-size: 14px !important;
}
.text-primary {
  color: var(--primary) !important;
}
.btn-rounded {
  border-radius: 8px !important;
}
.pt-25 {
    padding-top: 25px!important;
}

/* media query */

@media (max-width: 768px) {
  .header .brand img {
    width: 150px;
  }
}
