:root {
  --primary: #f45369;
  --secondary: #e8ecf1;
  --tertiary: #fff;
  --text-secondary: #2e3131;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap'); */


/* General */
body {
  background-color: var(--tertiary);
  line-height: 1.5;
  color: #2e3131 !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.font-sourcesans {
  font-family: 'Source Sans Pro', sans-serif;
}
/* Header */
.header {
  position: relative;
  background-color: var(--tertiary);
}
.header ul > li > a {
  color: var(--text-secondary) !important;
}
.burger:focus {
  color: var(--tertiary);
  outline: none !important;
}
.hover-original-color {
  background-color: var(--secondary) !important;
}
.original-color {
  color: var(--primary) !important;
}
.text-d-none-hover:hover {
  text-decoration: none !important;
}


.hover-red:hover {
  color: var(--tertiary);
  outline: none;
  background: #ef3e42!important;
}
/* Navbar */
.navigation {
  background-color: var(--secondary);
}
.navigation-nav {
  display: flex;
}


.navigation-nav > li > a {
  display: block;
  color: var(--text-secondary);
  text-transform: uppercase;
  font-size: 13px;
  height: 100%;
}
.navigation-nav .dropdown {
  position: inherit !important;
}
.navigation-nav .dropdown-nav .dropdown-content-nav {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: var(--tertiary);
}
.navigation-nav .dropdown-nav:hover > a{
  box-shadow: inset 0 -2px 0 0 #ef3e42;
}
.navigation-nav .dropdown-nav:hover .dropdown-content-nav {
  display: block;
}
.search-bar {
  position: relative;
}
.search-bar button {
  z-index: 1;
}
.search-bar.active button {
  opacity: 0;
}
.search-bar input {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  opacity: 0;
  transition: .5s;
}
.search-bar.active input{
  width: 100px;
  opacity: 1;
}
.text-cardinal, .text-cardinal-hover:hover, .text-cardinal-hover:hover>span, .text-cardinal-hover:hover p {
  color: #b30838!important;
}
.text-light-red, .text-light-red-hover:hover, .text-light-red-hover:hover>span, .text-light-red-hover:hover p {
  color: #f45369!important;
}
/* burger Menu */
.menu {
  display: none;
  position: fixed;
  z-index: 2222;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary);
  overflow-y: scroll;
}
.menu > * {
  color: var(--text-secondary);
  font-weight: 400;
}
.menu.active {
  display: block;
}
.menu::-webkit-scrollbar {
  display: none;
}

.menu .search-icon input {
  background-color: var(--secondary);
}
.menu .search-icon i{
  position: absolute;
  top: 35%;
  left: 15px;
  z-index: 98;
  color: var(--primary);
}
.menu-item-side {
  position: absolute;
  left: 0;
  top: 0;
  /* transition: .5s; */
}
#menu-list {
  transform: translateX(0);
  transition: .1s ease-in-out;
}
#menu-list.active {
  transform: translateX(-100%);
}
.menu-dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
}
.menu-dropdown.active .menu-dropdown-content {
  display: block;
}
.text-red-hover:hover, .text-red-hover:hover>span, .text-red-hover:hover p {
  color: #ef3e42!important;
}
.underline-none:hover {
  text-decoration: none;
}


/* slide first*/
.slick-slide-header{
  background-color: var(--secondary);
}
.slick-slide-header a.btn {
  width: 240px;
  height: 48px;
}
.slide-section {
  height: 400px;
}

.slide-section-sd {
  height: 400px;
}

.slick2{
  right: 7%;
  top: 73%;
}
.slick-next.slick2:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-right: 0.2em solid  #bdc3c7;
  border-top: 0.2em solid  #bdc3c7;
  transform: rotate(45deg);
  margin-right: 0.5em;
  transition: all .2s ease-in-out;
}
.slick1{
  left: 87%;
  z-index: 1000;
  top: 73%;
}
.slick-prev.slick1:before {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-left: 0.2em solid  #bdc3c7;
  border-bottom: 0.2em solid  #bdc3c7;
  transform: rotate(45deg);
  margin-right: 0.5em;
  transition: all .2s ease-in-out;
}
.slick-next.slick2:hover::before, .slick-prev.slick1:hover::before{
  border-color: #2e3131
}

.slick-slide {
    outline: none
}

/* second */
.slick-sd-1{
  left: 84%;
  z-index: 9999;
  top: 71%;
}
.slick-sd-prev  {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 12%;
  color: #BFAFB2;
  right: 26%;

}
.slick-sd-2{
  right: 9%;
  top: 71%;
}
.slick-sd-next {
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 0;
  color: #BFAFB2;
  left: 47%;
}
.img-card {
  height: 252px;
  width: 386px;
}


/* text color and hover */
.text-cardinal, .text-cardinal-hover:hover, .text-cardinal-hover:hover > span, .text-cardinal-hover:hover p {
  color: #b30838 !important;
}
.text-dark-cardinal, .text-dark-cardinal-hover:hover, .text-dark-cardinal-hover:hover > span, .text-dark-cardinal-hover:hover p {
  color: #830036 !important;
}

/* BANNER */
.left-banner {
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.DBlock--img {
  max-width: 100%;
  max-height: 100%;
}

.right-banner {
  display: flex;
  justify-content: flex-end;
  background-color: #ef3e42;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.DBlock-left {
  padding-left:  80px;
}

/* News Slider */
.text-dark-cardinal-hover:hover {
  color: #830036;
}
.rounded-circle {
  border-radius: 50% !important;
}
.border-color-light-red {
  border-color: #f45369 !important;
}
.border-1 {
  border: 1px solid transparent;
}
.slick-news-2{
  display: inline-block;
  position: absolute;
  top: 35%;
  right: -10%;
  font-size: 18px;
}
.slick-news-next.slick-news-2:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-right: 0.2em solid  #bdc3c7;
  border-top: 0.2em solid  #bdc3c7;
  transform: rotate(45deg);
  margin-right: 0.5em;
  transition: all .2s ease-in-out;
}

.slick-news-next.slick-news-2:hover::before{
  border-color: #2e3131
}
.news-link-arrow:hover .news-link-arrow-date{
  background-color: var(--primary) !important;
}
.news-link-arrow:hover .news-link-arrow-date > p {
  color: #fff !important;
}
.news-link-arrow:hover .news-link-arrow-p {
  color: var(--primary) !important;
}

/* loanCalculate */
.Button__ZCfW {
  max-width: 240px;
  height: 48px;
}
.hover-red-bg {
  -webkit-transition: .1s;
  transition: .1s;
}
.irs{
  height: 32px;
}
.irs-single{
  display: none;
}
.irs-line{
  top: 15px !important;
  background: #e8ecf1 !important;
  height: 4px !important;
  border-radius: 5px !important;
}
.irs-bar{
  height: 4px !important;
  top: 15px !important;
  background: #f45369 !important;
  border: none !important;
  border-radius: 5px !important;
}
.irs-handle {
border-color: #e8ecf1!important;
background: #f45369 !important;
top: 0 !important;
border-width: 8px !important;
width: 32px !important;
height: 32px !important;
box-shadow: none !important;
}
.irs-handle:hover {
  background-color: #f0f6ff !important;
}
/* /loanCalculate */

/* convertorSection */
.cusom-table td, .cusom-table th, .border-color-light-gray, .irs--round, .irs--handle, .TazGlk--css {
  border: #e8ecf1;
}
#currency_amount {
  outline-color: orange !important;
}

/* /covertorSection */


/* Buttons */
.btn-custom-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-custom-outline-primary {
  color: var(--primary);
  background-color: #fff;
  border-color: var(--primary);
}
.btn-outline-color-original-rad {
  border-color: var(--primary);
  border-radius: 8px;
}
.border-radius-8{
  border-radius: 8px;
}

/* FOOTER */
#footer_container{
  padding-top: 40px;
}
#first_col{
  padding-top: 10px;
}
.bigDiv{
  background: #2e3131;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 50px;
}
.setir1{

}
.setir2{
  
}
.foot_ul1{
  list-style-type: none;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
}
.foot_ul2, .foot_ul3, .foot_ul4{
  list-style-type: none;
  display: flex;
  font-size: 14px;
  margin-top: 40px;

}
.foot_ul2 > li{
  margin-right: 40px;
}
.foot_ul3 >li {
  margin-right: 38px;
}

.footer_a{
  text-decoration: none;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

}
#phone{
  border: 1px solid #ef3e42;
  border-radius: 8px;
  padding: 7px 10px;
  margin-right: 35px;
}
#phone_i{
  font-weight: 900;
}
#phone span{
  color: white;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
#phone:hover{
  text-decoration: none;

}
.footer_icon{
  color: white;
  margin-right: 32px;
  font-size: large;
}
.footer_icon:hover{
  color: #ef3e42;
} 


.footer_a:hover{
  text-decoration: none;
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
}
.app{
  width: 78%;
}
.app:hover{
text-decoration: none;

}
.app:hover .app_store{
  background-color:#ef3e42;
}
#app_store_first{
  transition: all 0.2s ease-in-out;

}
.app:hover #app_store_first{
  color: white;
  

}
.app_store{
  border: 1px solid   #f45369;
  border-radius: 8px;
  background-color: #f45369;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0px;
}
.app_store > i{
  color: white;
  font-size: x-large;
  margin-right: 16px;
}


.app_store_child{
  flex-direction: column;
  color: white;
}
#app_store_first{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#app_store_second{
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;


}
.copy_2020{
  font-size: 14px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.foot_logoes{
  width: 90%;
}


.img_container img{
  position: fixed;
  right: 20px;
  bottom:50px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.76);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.76);
  box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.76);

}
.img_container{
  
}
#img_container_img{
  
}
.message_box{
  height: 432px;
  width: 322px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.76);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.76);
  box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.76);
  position: fixed;
  right: 20px;
  bottom: 50px;
  border-radius: 3%;
  display: none;
}
#message_box_id{
  animation: mymove 1s;

}
@keyframes mymove {
  from {bottom: 0px;}
  to {bottom: 50px;}
}


.message_start {
  margin-top: 45px;
}
.message_start  img{
 /* padding-top: 5px; */
}
.start1 h3 {
  font-family: 'Roboto', "Source Sans Pro";
  font-size: 24px;
  color: rgb(0, 0, 0);


}
.start1{
  margin-left: 10px;
  margin-bottom: 5px;
}
.start1 p{
  font-family: 'Roboto', "Source Sans Pro";
  color: #aeb5ba;
  font-size: 11px;
  margin-top: 10px;
  
}
.input_message{
  margin-top: 20px;
}
.input_message_div{
  
}
.message_label, .email_label, .name_label{
  width: 80%;
}
#phone_number{
  font-family:'Roboto', "Source Sans Pro";
  font-size: 14px;
  color: rgb(47, 47, 47);
  margin: 0px 0px 10px;
  padding: 8px;
  border-color: transparent;
  border-bottom: 2px solid #e8ecf1 !important;
  width: 100%;
  /* background-color: transparent; */
}
#email_input{
  font-family:'Roboto', "Source Sans Pro";
  font-size: 14px;
  color: rgb(47, 47, 47);
  margin: 0px 0px 10px;
  padding: 8px;
  border-color: transparent;
  border-bottom: 2px solid #e8ecf1 !important;
  width: 100%;
}
#name_input{
  font-family:'Roboto', "Source Sans Pro";
  font-size: 14px;
  color: rgb(47, 47, 47);
  margin: 0px 0px 10px;
  padding: 8px;
  border-color: transparent;
  border-bottom: 2px solid #e8ecf1 !important;
  width: 100%;
}
.chat_start button{
  font-family: Roboto, "Source Sans Pro";
  color: white;
  width: 80%;
  background-color: #EF4A4E;
  padding: 9px 5px;
  font-size: 14px;
  border-color: #EF4A4E !important;
  border-radius: 20px;
  border-style: solid;
  max-height: 46px;
  margin-top: 20px;
}
#box_close{
  position: fixed;
  right: 35px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.box_close_div{
  margin-top: 15px;
  
} 



/* clear input type number selector */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* Helpers */
.bg-light-red {
  background-color: var(--primary);
}
.hover-red-bg {
  -webkit-transition: .1s;
  transition: .1s;
}
.Hover-GwHlZ:hover, .Shadow-ex1 {
  box-shadow: 0 9px 24px 0 rgba(73,81,93,.26);
}
.Hover-HazJ:hover {
  color: #fff !important;
}
.Hover-HazJ-R:hover{
  color: var(--primary) !important;
}

.m-w-300--min-780 {
  max-width: 300px;
}
.m-w-85 {
  max-width: 85px;
}
.m-w-45 {
  max-width: 45px;
}
.--line-h-45{
  line-height: 45px;
}
.--line-h-31 {
  line-height: 31px;
}
.line-h-35 {
  line-height: 35px;
}
.font-s-w-2 {
  font-weight: 200 !important;
}

.font-r-4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.font-w-6 {
  font-weight: 600;
}
.font-48 {
  font-size: 48px!important;
}
.font-24 {
  font-size: 24px !important;
}
.font-14 {
  font-size: 14px!important;
}
.font-18 {
  font-size: 18px !important;
}
.font-s-bold {
  /* font-family:'Roboto', "Source Sans Pro"; */
  font-size: 600 !important;
}
.font-s {
  font-size: 400 !important;
}
.shadow-ex1 {
  box-shadow: 0 9px 24px 0 rgba(50, 57, 68, 0.26);
}
.border-radius-24 {
  border-radius: 24px !important;
}
.text-size-small {
  font-size: 12px !important;
}
.text-size-medium {
  font-size: 14px !important;
}
.font-36 {
  font-size: 36px !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-gray {
  color: #bdc3c7!important;
  
}
.text-color-menu {
  color: var(--text-secondary) !important;
}
.icon-color-red {
  color: var(--primary)
}
.btn-rounded {
  border-radius: 8px !important;
}
.pt-5{
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20{
  padding-top: 20px !important;
}
.pt-25 {
    padding-top: 25px!important;
}
.pt-35 {
  padding-top: 35px !important;
}
.back-c-gray {
    background-color: #e8ecf1;
}
.outline-none {
  outline: none !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.py-15 {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.py-10 {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.py-20 {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.py-35 {
  padding-top: 35px!important;
  padding-bottom: 35px!important;
}

.px-15 {
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.py-40 {
  padding-top: 40px!important;
  padding-bottom: 40px!important;
}
.px-25 {
  padding-left: 25px!important;
  padding-right: 25px!important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-30 {
  padding-left: 30px!important;
}
.pl-40 {
  padding-left: 40px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20{
  padding-right: 20px!important;
}
.pr-30 {
  padding-right: 30px!important;
}
.pr-90 {
  padding-right: 90px;
}
.pt-15 {
  padding-top: 15px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.h-1 {
  height: 1px;
}
.h-100 {
  height: 100% !important;
}
.h-220 {
  height: 220px;
}
.hover-original-color:hover {
  color: var(--primary) !important;
}
.hover-text-dec-none:hover {
  text-decoration: none;
}
.pt-40 {
  padding-top: 40px !important;
}
.pb-15 {
  padding-bottom: 15px!important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.w-70 {
  width: 70% !important;
}
.w-100 {
  width: 100 !important;
}
.w-48 {
  width: 48px;
}
.h-48 {
  height: 48px;
}
.h-2 {
  height: 2px !important;
}
.min-h-300 {
  min-height: 300px;
}
.bg-light-gray {
  background: #e8ecf1;
}
.bg-red {
  background-color: #ef3e42;
}
.bg-color-gray {
  background-color: var(--secondary) !important;
}
.original-bg-color {
  background-color: var(--primary) !important;
}
.text-dark-gray {
  color: #2e3131!important;
}
.m-0 {
  margin: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.z-index-1 {
  z-index: 1 !important;
}
.line-h-1-5 {
  line-height: 1.5;
}
.line-h-15 {
  line-height: 15px;
}
.line-h-31 {
  line-height: 31px;
}
.m-w-180 {
  max-width: 180px;
}
/* media query */

@media (min-width: 780px){
  .m-w-300--min-780 {
    max-width: 300px;
  }
}
@media (min-width: 1024px){
  .mt--5--web {
    margin-top: -6px;
  }
}
@media (max-width: 768px) {
  .header .brand img {
    width: 150px;
  }
}
@media (max-width: 1200px){
  .header > .container, .menu .container {
    max-width: 100% !important;
  }
}
@media (max-width: 986px){
  .slide-section {
      height: unset!important;
  }
}
@media (max-width: 780px){
  .font-36, .font-42, .font-48 {
      font-size: 24px!important;
      line-height: 24px;
  }
}

@media (min-width: 500px){
  .min-w-295--min-w-500 {
      max-width: 295px;
  }
}
@media (min-width: 780px){
  .m-w-255--min-780 {
      max-width: 255px;
  }
}
@media (min-width: 500px){
    .DBlock--left {
      padding-right: 80px;
      max-width: 280px!important;
  }
}
@media (min-width: 500px){
  .DBlock--position {
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
@media (min-width: 500px){
  .DBlock--right {
    padding-right: 80px;
    max-width: 280px!important;
  }
}
@media (max-width: 986px){
  .show-min-986 {
    display: none;
  }
}